<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
      <h1><%= title %></h1>
      <p>Bienvenido/a a <b><%= title %></b>, tu web de compra y venta de artículos entre particulares.</p>
    </main>
  </body>
</html>
